/* You can add global styles to this file, and also import other style files */
.ant-layout-header{
    background: white;
}
.ant-layout-content{
    background: #faf7f7;
}
.cl-red{
    color: red;
}
/* input{
    width: 130% !important;
} */
/* .ant-picker{
    width: 142% !important;
} */
.ant-select.ant-select-in-form-item{
    width: 32% !important;
}
.mr-1{
    margin-right: 10px;
}
nz-select{
    width: 100%;
}
.pt-2{
    padding-top: 20px;
}
.pb-2{
    padding-bottom: 20px;
}
.float-right{
    float:right;
}
h2{
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}
.right{
    text-align: right;
}
.lastRowInvoice{
    background: white;
    padding:20px;
}