<form nz-form [formGroup]="validateForm" class="pt-2 pb-2">
    <div nz-row>
        <div nz-col nzSpan="6">
            <nz-form-item class="mr-1">
                <nz-form-control [nzErrorTip]="emailError">
                    <label>E-mail</label><br>
                    <input nz-input formControlName="email" placeHolder="Enter email" />
                    <ng-template #emailError let-control>
                        <ng-container *ngIf="control.hasError('required')">Please enter your email</ng-container>
                        <ng-container *ngIf="control.hasError('email')">Please enter valid email</ng-container>
                    </ng-template>
                </nz-form-control>
            </nz-form-item>
        </div>
        <div nz-col nzSpan="3">
            <nz-form-item class="mr-1">
                <nz-form-control nzErrorTip="Please enter invoice date">
                    <label>Date</label><br>
                    <nz-date-picker [nzFormat]="'dd MMMM yyyy'" formControlName="invoiceDate"
                        (ngModelChange)="validateDueDate($event)"></nz-date-picker>
                </nz-form-control>
            </nz-form-item>
        </div>
        <div nz-col nzSpan="3" class="mr-1">
            <nz-form-item>
                <nz-form-control [nzErrorTip]="dueDateError">
                    <label>Due Date</label><br>
                    <nz-date-picker [nzFormat]="'dd MMMM yyyy'" formControlName="dueDate"></nz-date-picker>
                    <ng-template #dueDateError let-control>
                        <ng-container *ngIf="control.hasError('dueDate')">Date Closed cannot be smaller or equal
                            to invoice date</ng-container>
                    </ng-template>
                </nz-form-control>
            </nz-form-item>
        </div>
        <div nz-col nzSpan="3" class="mr-1">
            <nz-form-item>
                <nz-form-control nzErrorTip="Please enter invoice id">
                    <label>Invoice #</label><br>
                    <input nz-input formControlName="invoiceId" placeHolder="Enter invoice id" />
                </nz-form-control>
            </nz-form-item>
        </div>
        <div nz-col nzSpan="3">
            <nz-form-item>
                <nz-form-control nzErrorTip="The input is not valid E-mail!">
                    <label>Reference</label><br>
                    <input nz-input formControlName="reference" placeHolder="Enter reference" />
                </nz-form-control>
            </nz-form-item>
        </div>
    </div>
    <div nz-row>
        <div nz-col nzSpan="24">
            <nz-form-item>
                <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Please select currency">
                    <nz-select nzShowSearch nzAllowClear nzPlaceHolder="Select currency" formControlName="currency">
                        <nz-option nzLabel="GBP" nzValue="GBP"></nz-option>
                        <nz-option nzLabel="EUR" nzValue="EUR"></nz-option>
                        <nz-option nzLabel="INR" nzValue="INR"></nz-option>
                    </nz-select>
                </nz-form-control>
            </nz-form-item>
        </div>
    </div>
    <nz-table #editRowTable nzBordered [nzTemplateMode]="true">
        <thead>
            <tr>
                <th nzWidth="20%">Description</th>
                <th nzWidth="15%">Qty</th>
                <th nzWidth="15%">Unit Price</th>
                <th nzWidth="10%">Disc %</th>
                <th>Account</th>
                <th>Tax Rate</th>
                <th colSpan="2">Amount GBP</th>
            </tr>
        </thead>
        <tbody>
            <tr formArrayName="items" *ngFor="let item of itemsFormArray.controls; let i = index;">
                <ng-container [formGroupName]="i">
                    <td>
                        <input type="text" nz-input formControlName="itemDesc" />
                        <p class="cl-red" *ngIf="item['controls'].itemDesc?.errors?.required">Please enter description
                        </p>
                    </td>
                    <td>
                        <input type="number" nz-input formControlName="itemQty" />
                        <p class="cl-red" *ngIf="item['controls'].itemQty?.errors?.required">Please enter quantity</p>

                    </td>
                    <td>
                        <input type="number" nz-input formControlName="unitPrice" />
                        <p class="cl-red" *ngIf="item['controls'].unitPrice?.errors?.required">Please enter price</p>
                    </td>
                    <td><input type="number" nz-input formControlName="disc" /></td>
                    <td>
                        <nz-select nzShowSearch nzAllowClear formControlName="account">
                            <nz-option nzLabel="GBP" nzValue="GBP"></nz-option>
                            <nz-option nzLabel="EUR" nzValue="EUR"></nz-option>
                            <nz-option nzLabel="INR" nzValue="INR"></nz-option>
                        </nz-select>
            <tr>
                <p class="cl-red" *ngIf="item['controls'].account?.errors?.required">Please select account</p>

                </td>
                <td>
                    <nz-select nzShowSearch nzAllowClear formControlName="taxRate">
                        <nz-option nzLabel="0" [nzValue]="0"></nz-option>
                        <nz-option nzLabel="10" [nzValue]="10"></nz-option>
                        <nz-option nzLabel="15" [nzValue]="15"></nz-option>
                        <nz-option nzLabel="20" [nzValue]="20"></nz-option>
                    </nz-select>
                    <p class="cl-red" *ngIf="item['controls'].taxRate?.errors?.required">Please select tax rate</p>

                </td>
                <td>
                    {{((item['controls'].itemQty.value*item['controls'].unitPrice.value)-(item['controls'].itemQty.value*item['controls'].unitPrice.value)/(item['controls'].disc.value))
                    || 0}}
                </td>
                <td>
                    <a nz-popconfirm nzPopconfirmTitle="Sure to delete?" (nzOnConfirm)="deleteRow(i,item)"><i nz-icon
                            nzType="close" nzTheme="outline"></i></a>
                </td>
                </ng-container>
            </tr>
        </tbody>
    </nz-table>
</form>
<div nz-row>
    <div nz-col nzSpan="20">
        <button nz-button (click)="addRow()" nzType="default"><i nz-icon nzType="plus" nzTheme="outline"></i>Add a new
            line</button>
    </div>
    <div nz-col nzSpan="4">
        <table [width]="'100%'">
            <tr>
                <td [width]="'50%'" class="right">Subtotal</td>
                <td [width]="'50%'" class="right">{{getSubtotal()}}</td>
            </tr>
            <tr>
                <td [width]="'50%'" class="right">VAT</td>
                <td [width]="'50%'" class="right">{{getVAT()}}</td>
            </tr>
            <tr>
                <td [width]="'50%'" class="right"><h2>TOTAL</h2></td>
                <td [width]="'50%'" class="right"><h2>{{getTotal()}}</h2></td>
            </tr>
        </table>
    </div>
</div>
<div nz-row class="pb-2" class="lastRowInvoice">
    <div nz-col nzSpan="22">
        <button nz-button class="login-form-button login-form-margin" [nzType]="'primary'"
            (click)="submitForm()">Save</button>
    </div>
    <div nz-col nzSpan="2" class="float-right">
        <button nz-button class="login-form-button login-form-margin" [nzType]="'default'"
            (click)="validateForm.reset()">Cancel</button>
    </div>
</div>